body{
	font-family: Josefin Sans,arial,verdana;
	background-image: url('images.png');
	margin: auto;
	box-sizing: border-box;
}

.container{
	width: 60%;
	height: 100%;
	margin:auto;
	position: relative;
	background-color: #fff;
	overflow: auto;
	box-sizing: border-box;
}

.header{
	height: 100%;
	font-weight: bold;
	font-size:48px;
	font-family: arial;
	background-image:url(bg1.jpg);
	background-position: -1px;
	background-size: cover;
	padding: 30px;
	color: #fff;

}

.sidebar{
	width:295px ;
	height: 100%;
	color: #000;
	padding-left:15px;
	float:left;
	margin: auto 5px;
	display: block;
	position: relative;
	font-weight: bold;
	font-size: 22px;
}

.sidebar h1 {
	font-size: 20px;
	background-color:#fff; 
	padding: 5px;
	float: auto;
	margin: 3px auto 3px -15px;
	text-align: center;
}

.sidebar .judulbar{
	border-style: outset;
	border-color: #eaeaea;
	font-size: 24px;
	padding: 20px;
	margin: -1px auto 10px;
	background-color: #595959;
	color: #fff;
}
.sidebar ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    width: auto;
    background-color: #f1f1f1;
}

.sidebar li a{
	display: block;
    color: #404040;
    padding: 20px 16px;
    margin: auto;
    text-decoration: none;
    border: 1 px outset;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.sidebar li a:hover{
	background-color: #8c8c8c;
	color:#fff;
	border: 2px inset #eaeaea;
}
.main{
	width: 750px;
	height:800px;
	overflow: auto;
	color: #000;
	padding: 5px;
	margin-top: 8px;
	text-align: center;
	display:block;
	float:auto;
	position: relative;
	background-color: #f2f2f2;
	font-size:20px;
	border-style: solid;
	border-width: 0px;

}

.main img{
	width: 400px;
	border:5px solid #d9d9d9;
	border-radius: 20px ;
	box-shadow: 3px 5px 9px rgba(0, 0, 0, .5);
}

.main h2{
	width: 100%;
	font-size: 40px;
	background-color: #595959;
	color: #fff;
	border-bottom:5px solid #666; 
	border-top:5px solid #666;
	padding-bottom: 5px;
	padding-top: 5px;
}

.back{
	width: 50px;
	height: 50px;
	display: block;
	color: #000;
	text-indent: -1000px;
	background-image: url('home.png');
	background-repeat: no-repeat;
	background-size: cover;
}


@media screen and (max-width: 1080px)
{	
	.container  {
		width: auto;
	}
	.sidebar  {
		width: auto;

	}
	.main {
		width: auto;
		float: right;
	

	}
	
}

@media screen and (max-width: 1000px)
{
	
	.header{
		text-align: center;
	}
	.sidebar , .main {
		width: auto;
		float: none;
	}
		
}